*
!backend/
!frontend/
!Dockerfile
!docker-compose.yml
!docker-compose.prod.yml
!.env.example
!README.md
!LICENSE
!cliff.toml
!.github/

backend/__pycache__/
backend/*.pyc
backend/.env
backend/photos/*
!backend/photos/.gitkeep

frontend/node_modules/
frontend/build/
frontend/.env
frontend/node_modules/.cache/default-development/3.pack
-e 
# Environment files
*.env
*.env.*
frontend/node_modules/.cache/default-development/5.pack
